html {
    --width: 1280px;
    --height: 720px;

    --tile-width: calc(var(--width) / 4);
    --tile-height: calc(var(--height) / 3);

    --background-color: #2A2A2A;
    --contrast-factor: .5;

    --scroll-time: 6s;
    --scroll-type: scrollDownLeft;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

main {
    position: absolute;
    width: var(--width);
    height: var(--height);

    background: var(--background-color);

    overflow: hidden;
}

div.grid {
    filter: contrast(var(--contrast-factor));
    position: absolute;
    top: 0;
    left: 0;
    display: grid;

    grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
    grid-template-rows: var(--tile-height) var(--tile-height) var(--tile-height) var(--tile-height);

    animation-name: var(--scroll-type);
    animation-duration: var(--scroll-time);
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    justify-content: stretch;
}

div.sprite>img {
    object-fit: contain;
    /* image-rendering: pixelated; */

    width: 100%;
    height: 100%;
}

@keyframes scrollUpLeft {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(calc(-1 * var(--tile-width)),
            calc(-1 * var(--tile-height))
        );
    }
}

@keyframes scrollUpRight {
    0% {
        transform: translate(calc(-1 * var(--tile-width)), 0);
    }

    100% {
        transform: translate(0,
            calc(-1 * var(--tile-height))
        );
    }
}

@keyframes scrollDownLeft {
    0% {
        transform: translate(0, calc(-1 * var(--tile-height)));
    }

    100% {
        transform: translate(calc(-1 * var(--tile-width)),
            0
        );
    }
}

@keyframes scrollDownRight {
    0% {
        transform: translate(calc(-1 * var(--tile-width)), calc(-1 * var(--tile-height)));
    }

    100% {
        transform: translate(0, 0);
    }
}
